extends layout

include mixins/_commentCard

block content
  .col-md-8
    h1.mt-4= post.title
    p.lead by&nbsp;
      a(href="#")= post.author.name
    hr
    p= h.moment(post.created).fromNow()
    hr
    img(src=`/images/${post.photo}.jpg`, alt=`${post.title}`).img-fluid.rounded
    hr
    p.lead= post.description
    hr
    if post.tags
      each tag in post.tags
        a.btn.btn-warning(href=`/tags/${tag}`)
          span.tag__text #{tag}
    .card.my-4
      h5.card-header Leave a Comment:
      .card-body
        form(action="#" method="POST")
          .form-group
            input.form-control(type="text" name="name" placeholder="Full Name")
          .form-group
            textarea.form-control(rows="3" name="comment")
          button.btn.btn-primary(type="submit") Submit
    .card.my-4
      h5.card-header Comments
      .card-body
        +commentCard()
