extends layout

include mixins/_commentCard
include mixins/_socialShare
include mixins/_commentForm

block content
  .col-md-8
    h1.mt-4
      a(href=`/post/${post.slug}`)= post.title
    p by&nbsp;
      a(href="#")= post.author.name
    hr
    p= h.moment(post.created).fromNow()
    hr
    img(src=`/images/${post.photo}.jpg`, alt=`${post.title}`).img-fluid.rounded
    hr
    script
      | const data = JSON.stringify(post.description);
      | console.log(typeof(data));
    p.lead!= post.description
    hr
    if post.tags
      each tag in post.tags
        a.btn.btn-warning(href=`/tags/${tag}`)
          span.tag__text #{tag}
    hr
    p
      +socialShare()
    hr
    .card.my-4
      h5.card-header Leave a Comment:
      .card-body
        +commentForm(post)
    .card.my-4
      if post.comments
        h5.card-header Comments
        .card-body
          each comment in post.comments
            +commentCard(comment)
            hr
