mixin blogCard(post = {})
  .card.mb-4
    .thumbnail
      img(src=`/images/${post.photo}.jpg`, alt="Blog Post Image").blog-card-image
      .card-body
        h2.card-title= post.title
        p.card-text= post.description
        a(href=`/post/${post.slug}`).btn.btn-warning Read More &rarr;
      .card-footer
        p #{h.moment(post.created).fromNow()}  by&nbsp;
          a(href="#")= post.author.name
